<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">
    <app-header></app-header>
  </h5>
  <nav class="my-2 my-md-0 mr-md-4">
    <form class="form-inline my-2 my-lg-1">
     
      <a class="p-3 text-white" href="#">Pricing</a>
      <a class="p-3 text-white" href="#">Best Deals</a>
    <a class="p-3 text-white" [routerLink]="['/shop']">Shop More</a>
  
   <a class="p-3 text-white" href="#">Contact Us</a>
    <input class="form-control mr-sm-0" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  </nav>
  <a class="btn btn-primary" [routerLink]="['/register']">Sign up</a>
  <a class="btn btn-outline-secondary text-white" [routerLink]="['/login']">Login</a>
</div>
